<!DOCTYPE html>
<html>
<head>
  <TITLE> <%= full_title(yield(:title)) %></TITLE>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
